/*--------------------------------------------------------*/
/*----------------#style.css------------------------------*/



/*--------------------------------------------------------*/
/*-----------------#VARIABLE------------------------------*/

:root {

    /*-----colors
    -------------*/

    --light-grayish-blue:hsl(220, 16%, 96%);
    --very-light-gray:hsl(0, 0%, 98%);
    --grayish-blue:hsl(233, 8%, 62%);
    --bright-cyan:hsl(192, 78%, 51%);
    --line-green:var(136, 65%, 51%);
    --white:var(0, 0%, 100%);

    /**-------------
    ----spacning----
    */

    --px: 20px;

}


/*---------------------------------------------------------*/
/*-------------------#RESET--------------------------------*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {list-style-type: none;}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    background: none;
    font: inherit;
    cursor: pointer;
}

html {
    font-family: 'Public Sans', sans-serif;
    scroll-behavior: smooth;
}

img, span, svg {display: block;}



/*---------------------------------------------------------*/
/*-----------------------#MAIN-----------------------------*/

.container {
    max-width: 1440px;
    margin: auto;
}


/*----------------------------------------------------------*/
/*------------------------#HEADER---------------------------*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar {
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px var(--px)
}

.navbar-toggle-btn {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0 20px;
}

.navbar-toggle-btn span {
    display: block;
    background: var(--dark-blue);
    width: 25px;
    height: 1px;
    transition: 0.25s ease;
}

.navbar-toggle-btn.active.one { transform: rotate(45deg) translateY(3px);} 
.navbar-toggle-btn.active.two {display:none;}
.navbar-toggle-btn.active.three {transform: rotate(-45deg) translateY(-3px);}

.navbar-nav {
    position: fixed;
    background: var(--white);
    top: 60px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    border-radius: 5px;
    z-index: -1;
    opacity: 0;
    transition: 0,5s ease;
    pointer-events: none;
}

.navbar-nav a {
    color: var(--dark-blue);
    display: block;
}

.navbar-nav.active {
    top: calc(60px + 20px);
    opacity: 1;
    box-shadow: 0 0 100px hsla(233, 26%, 24%, 0,2);
    pointer-events: all;
}

.btn-primary {
    background: linear-gradient(90deg, var(--line-green) var(--bright-cyan));
    color: var(--white);
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    display: block;
    margin: auto;
    transition: 0,25s ease;
}

.btn-primary:hover { opacity: 0,7;}

.navbar.btn-primary {display:none;}



/*--------------------------------------------*\
  #HOME
/*--------------------------------------------*\

/* HOME */

main { overflow: hidden;}

.home {
    background: var(--very-light-gray);
    padding-bottom: 60px;
}

.home-img-box {
    background: url(./images/bg-intro-mobile.svg) no-repeat top;
    background-size: cover;
    padding: 0 15px;
    margin-bottom: 40px;
}

.home-img-box .home-img {
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: bottom;
}

.home-title {
    font-size: 36px;
    font-weight: 400;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 20px;
    padding: 0 20px;
}

.home-text {
    margin: auto;
    color: var(--grayish-blue);
    text-align: center;
    font-size: 15px;
    margin-bottom: 30px;
    padding: 0 20px;
}


